%h1 Wordpress Launcher

%p Launch a Wordpress instance

%form
  %input{ name: 'aws_access_key', placeholder: 'AKIA___________', type: 'text', required: '' }

  %input{ name: 'aws_secret_key', placeholder: '********', type: 'password', required: '' }

  %input{ type: 'submit' }
