%h1 Wordpress Launcher

%p Launch a Wordpress instance

%form{ action: '/submit', method: 'POST', role: 'form', id: 'cred-form' }

  .form-group
    %label AWS Access Key
    %input{ name: 'aws_access_key', class: 'form-control', placeholder: 'AKIA___________', type: 'text', required: '' }

  .form-group
    %label AWS Secret Key
    %input{ name: 'aws_secret_key', class: 'form-control', placeholder: '********', type: 'password', required: '' }

  %input{ class: ['form-control', 'btn', 'btn-success' ], type: 'submit' }
