!!! 5
%html{html_attrs}
  %head
    %meta{:'http-equiv' => "Content-Type", :content => "text/html; charset=utf-8"}
    %meta{:name => "lang", :content => "en"}
    %title Sinatra Bootstrap
    %link{:href=>'/stylesheets/application.css', :media => "screen", :rel => 'stylesheet', :type => "text/css"}
    %link{:href=>"//netdna.bootstrapcdn.com/bootswatch/3.1.1/flatly/bootstrap.min.css", :rel=>"stylesheet"}
    -#%script{:type => "text/javascript", :src => "/javascripts/application.js"}
  %body
    #wrapper
      #brand
        %h1
          %a{ href: url('/') } Cloud Launcher
      = yield

      #footer
        - if session[:access_key]
          %a{ href: url('/signout') } Sign out
